@import '../../assets/styles/variables.scss';
#SkillTree {
  width: 300px;
  margin-top: 40px;
  .step {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    &.disabled {
      opacity: 0.2;
    }
    .stepImg {
      margin-right: 12px;
    }
    .skillItems {
      display: flex;
      flex-wrap: wrap;
      .skillItem {
        color: #fff;
        margin: 4px 4px 4px 0;
        > div {
          background-color: #251b38;
          width: 60px;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          > i {
            font-size: 40px;
          }
        }
        > p {
          font-size: $remark;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 4px;
          > i {
            font-size: 1em;
            margin-right: 2px;
            margin-left: 2px;
          }
        }
        &.mr0 {
          margin-right: 0;
        }
        &.checked {
          > div {
            background-color: $backgroundSub;
            border: solid 2px $primary;
          }
        }
      }
    }
  }
}
