<div id="SkillTree">
  <div class="step step1">
    <div class="stepImg">
      <img src="../../../public/img/img-planet-basics@2x.png"
           width="100"
           alt="">
    </div>
    <div class="skillItems">
      <div class="skillItem checked">
        <div>
          <i class="material-icons">category</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/3
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/0
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">build</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/4
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/0
        </p>
      </div>
    </div>
  </div>
  <div class="step step2">
    <div class="stepImg">
      <img src="../../../public/img/img-planet-css@2x.png"
           width="100"
           alt="">
    </div>
    <div class="skillItems">
      <div class="skillItem">
        <div>
          <i class="material-icons">flip_to_front</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/1
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/3
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">view_quilt</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/2
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/2
        </p>
      </div>
      <div class="skillItem mr0">
        <div>
          <i class="material-icons">developer_board</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/1
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/2
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">devices</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/2
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/0
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">widgets</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/0
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/3
        </p>
      </div>
    </div>
  </div>
  <div class="step step3">
    <div class="stepImg">
      <img src="../../../public/img/img-planet-js@2x.png"
           width="100"
           alt="">
    </div>
    <div class="skillItems">
      <div class="skillItem">
        <div>
          <i class="material-icons">hdr_strong</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/0
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/1
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">gradient</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/0
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/3
        </p>
      </div>
      <br>
      <div class="skillItem">
        <div>
          <i class="material-icons">format_quote</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/1
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/0
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">developer_mode</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/3
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/0
        </p>
      </div>
      <div class="skillItem mr0">
        <div>
          <i class="material-icons">nfc</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/0
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/3
        </p>
      </div>
    </div>
  </div>
  <div class="step step4">
    <div class="stepImg">
      <img src="../../../public/img/img-planet-managers@2x.png"
           width="100"
           alt="">
    </div>
    <div class="skillItems">
      <div class="skillItem">
        <div>
          <i class="material-icons">device_hub</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/2
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/1
        </p>
      </div>
      <div class="skillItem">
        <div>
          <i class="material-icons">import_contacts</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/1
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/1
        </p>
      </div>
      <div class="skillItem mr0">
        <div>
          <i class="material-icons">table_chart</i>
        </div>
        <p>
          <i class="material-icons">settings</i> 0/0
        </p>
        <p>
          <i class="material-icons">filter_tilt_shift</i> 0/1
        </p>
      </div>
    </div>
  </div>
</div>
