@import '../../assets/styles/variables.scss';
#SkillPanel {
  width: 300px;
  border: 2px solid $primary;
  margin-top: 40px;
  box-sizing: border-box;
  height: 692px;
  .topPanel {
    background-color: $backgroundPrimary;
    width: 100%;
    height: 306px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
    h2 {
      font-size: $h2;
      text-align: center;
    }
    i.material-icons {
      font-size: 130px;
    }
  }
  .botPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $backgroundSub;
    width: 100%;
    height: 382px;
    color: #fff;
    text-align: center;
    > div {
      margin-top: 24px;
      i.material-icons {
        font-size: 32px;
        margin-bottom: 6px;
      }
      h3 {
        font-size: $h3;
        font-weight: normal;
        margin-bottom: 16px;
      }
      .button {
        width: 200px;
        height: 35px;
        box-sizing: border-box;
        border: 2px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
      }
    }
  }
}
