<div id="SkillPanel">
  <div class="topPanel">
    <i class="material-icons">
      flip_to_front
    </i>
    <h2> BASIC
      <br>SKILLS
    </h2>
  </div>
  <div class="botPanel">
    <div class="recommended">
      <i class="material-icons">
        settings
      </i>
      <h3>RECOMMENDED</h3>
      <div class="button">Bootstrap</div>
      <div class="button">UIKit</div>
    </div>
    <div class="optional">
      <i class="material-icons">
        settings
      </i>
      <h3>OPTIONAL</h3>
      <div class="button">Foundation</div>
      <div class="button">Semantic UI</div>
    </div>
  </div>
</div>
