// color
$background: rgba(37, 0, 96, 1);
$backgroundPrimary: rgba(128, 0, 255, 1);
$backgroundSub: rgba(105, 0, 209, 1);
$primary: rgba(255, 0, 147, 1);
$warning: rgba(209, 0, 121, 1);

// font-size
$h1: 48px;
$h2: 36px;
$h3: 16px;
$remark: 14px;
